html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
body {
    margin: 0;
    padding: 0;

}

header { 
    background-color: #440080;
    height: 100px;
} 

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;

}   



.menu-container {
    color: #fff;
    background-color: #c56e05;
    padding: 20px;
    display: flex;
    justify-content: center;
 
}

.menu {
    padding: 10px;  
    width: 1200px; 
    display: flex; 
    justify-content: space-around;
    /* flex-direction: row-reverse;  */
}


h2 {
    text-align: center;
    color: #df08eb;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    padding: 10px;
    margin: 10px;
    background: #0f6102;
    flex: 1;

  }


article:nth-of-type(3) {
    flex: 2;
}

.hobbitimg {
    text-align: center;
}

img {
    width: 300px;
}

a {
    color: #6200ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-decoration: none;
}

a:hover {
    color: white;
}

blockquote {
    font-family: cursive;
    font-weight: 900;
    font-size: large;
}

footer {
    margin: 0;
    padding: 20px;
    height: 80px; 
    text-align: center;
    color: #999999;  
}